@font-face {
    font-family: Inter-VariableFont_slnt,wght;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: SemiBold;
    src: url(fonts/static/Inter-SemiBold.ttf);
}
body{
    font-size: 14px;
    background-color:  hsl(0, 0%, 8%);
    padding:4cm;
}
a{
    display: block;
     
}
input{
    padding: 10px;
    width:10cm;
    border-radius: 7px;
    background-color:hsl(0, 0%, 20%);
    color: white;
    text-shadow: none;
    font-family: Inter-Bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

@font-face {
    font-family: Inter-VariableFont_slnt,wght;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: SemiBold;
    src: url(fonts/static/Inter-SemiBold.ttf);
}
body{
    font-size: 14px;
    background-color:  hsl(0, 0%, 8%);
    padding:4cm;
}
 
input{
    padding: 10px;
    width:10cm;
    border-radius: 7px;
    background-color:hsl(0, 0%, 20%);
    color: white;
    text-shadow: none;
    font-family: Inter-Bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

div{
    background-color: hsl(0, 0%, 12%);
    border: solid  hsl(0, 0%, 12%);
    border-radius: 20px;
    padding: 40px;
    
     
}

img{
    width: 70px;
    border-radius: 50px;
    text-align: center;
    margin-left: 4cm;

    
}

h1{
    color: white;
}

h3{
    color: hsl(75, 94%, 57%);
}
 
img{
    width: 70px;
    border-radius: 50px;
    text-align: center;
    margin-left: 4cm;

    
}

h1{
    color: white;
}

h3{
    color: hsl(75, 94%, 57%);
}
p{
    color: #a5a3a3;
}