@font-face {
    font-family: Inter-VariableFont_slnt,wght;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: SemiBold;
    src: url(fonts/static/Inter-SemiBold.ttf);
}

body{
    background-color:  hsl(0, 0%, 8%);
    
}

main{
    background-color: hsl(0, 0%, 12%); 
    width: 400px;    
    border: solid  hsl(0, 0%, 12%);
    border-radius: 20px;
    padding: 40px;
    margin-left: auto;
    margin-top: 2cm;
    margin-right: auto;

    
}

img{
    width: 70px;
    border-radius: 50px;
    text-align: center;
    margin-left: 4.3cm;

}

ul{
    list-style: none;
    margin: auto;

    
}
li{
    margin-bottom: 22px;
    background-color:hsl(0, 0%, 20%);
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-left: 14px ;
    
}

p{
    margin-bottom: 1cm;
    text-align: center;
    color: burlywood;
}
h1{
    text-align: center;
    color: wheat;
   
}
h3{
    text-align: center;
    color: brown;
    margin: auto;
}
a{
    text-decoration: none;
    color:bisque;
    margin: auto;
    
}
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: wheat; }
    .attribution{
        padding: 30px;
    }
   div{
        color: brown;
    }